.log_container{
    cursor: pointer;
    .text_staff{
        font-size: 16px;
        margin: 20px 0px;
    }
    .log_btn{
        width: 97% !important;
        margin-bottom: 20px;
    }
    .reset_pw{
        color: rgb(0, 145, 255);

    }
}