.employInfo_container{
    background-color:rgb(241, 243, 245) ;
    .content_employ{
        display: flex;
        flex-direction: row;
        .content_container{
            width: 74%;
            .content_box{
                margin: 30px 46px 0px;
                .title_box{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 20px;    
                    .input_custom{
                        ::placeholder{
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .search_icon{
                            font-size: 20px;
                        }
                    }
                    .title_name{
                        font-family: "SVN-Sofia Pro Medium", "Public Sans", sans-serif;
                        font-weight: 500;
                        line-height: 1.19444;
                        font-size: 36px;
                    }
                }
                
            }
        }
    }
}