

.tag_custom{
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SVN-Sofia Pro Regular", "Public Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-color: rgb(224 239 255);
    border-radius: 10px;
}